.elementor-1213 .elementor-element.elementor-element-d6234d6 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-top: 37px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
}
.elementor-1213 .elementor-element.elementor-element-01b2c82 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-1213 .elementor-element.elementor-element-01b2c82.sticky-sidebar {
  display: block;
}
.elementor-1213
  .elementor-element.elementor-element-cda8a9a
  .dblh__title-wrapper {
  font-size: 42px;
  text-transform: uppercase;
  line-height: 1.25em;
}
.elementor-1213 .elementor-element.elementor-element-cda8a9a .dblh__title {
  display: inline;
}
.elementor-1213 .elementor-element.elementor-element-cda8a9a .dblh__subtitle {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25em;
  margin: 0px 0px 11px 0px;
}
.elementor-1213 .elementor-element.elementor-element-2a71a4c .wgl-button {
  justify-content: center;
  --button-border-radius: 60px 60px 60px 60px;
}
.elementor-1213 .elementor-element.elementor-element-2a71a4c .button__text {
  justify-content: center;
}
.elementor-1213
  .elementor-element.elementor-element-2a71a4c
  > .elementor-widget-container {
  margin: 40px 0px 0px 0px;
}
.elementor-1213 .elementor-element.elementor-element-9c4b7e9 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}
.elementor-1213
  .elementor-element.elementor-element-9792d2c
  .wgl-accordion_panel {
  overflow: hidden;
  --acc-delimiter-size: 1px;
}
.elementor-1213
  .elementor-element.elementor-element-9792d2c
  .wgl-accordion_title {
  order: 0;
  flex-grow: 1;
}
.elementor-1213
  .elementor-element.elementor-element-9792d2c
  .wgl-accordion_icon {
  align-self: flex-start;
  --icon-size: 18px;
  margin: 6px 0px 0px 13px;
  transform: rotate(90deg);
}
.elementor-1213
  .elementor-element.elementor-element-9792d2c
  .wgl-accordion_panel-inner {
  width: 1170px;
}
.elementor-1213
  .elementor-element.elementor-element-9792d2c
  .wgl-accordion_header {
  padding: 25px 0px 25px 0px;
}
.elementor-1213
  .elementor-element.elementor-element-9792d2c
  .wgl-accordion_panel:hover
  .wgl-accordion_icon {
  transform: rotate(90deg);
}
.elementor-1213
  .elementor-element.elementor-element-9792d2c
  .wgl-accordion_panel.active
  .wgl-accordion_icon {
  transform: rotate(-90deg);
}
.elementor-1213
  .elementor-element.elementor-element-9792d2c
  .wgl-accordion_content {
  padding: 0px 0px 32px 0px;
}
.elementor-1213
  .elementor-element.elementor-element-9792d2c
  > .elementor-widget-container {
  margin: -30px 0px 0px 0px;
}
.elementor-1213 .elementor-element.elementor-element-cb10176 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-1213 .elementor-element.elementor-element-adbd9ba {
  --spacer-size: 130px;
}
.elementor-1213 .elementor-element.elementor-element-837c7fc {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-1213
  .elementor-element.elementor-element-837c7fc:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1213
  .elementor-element.elementor-element-837c7fc
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2024/05/faq-1.webp");
  background-position: center center;
  background-size: cover;
}
.elementor-1213 .elementor-element.elementor-element-837c7fc,
.elementor-1213 .elementor-element.elementor-element-837c7fc::before {
  --border-transition: 0.3s;
}
.elementor-1213 .elementor-element.elementor-element-544d2cf {
  --spacer-size: 214px;
}
.elementor-1213
  .elementor-element.elementor-element-f4f7ee4
  .videobox_content:hover
  .videobox_link::before,
.elementor-1213
  .elementor-element.elementor-element-f4f7ee4
  .videobox_content:focus
  .videobox_link::before {
  transform: scale(1.1);
}
.elementor-1213 .elementor-element.elementor-element-f4f7ee4 .title {
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-f4f7ee4 .videobox_icon {
  width: 20px;
  height: 20px;
}
.elementor-1213 .elementor-element.elementor-element-f4f7ee4 .videobox_link {
  width: 90px;
  height: 90px;
  fill: #ffffff;
}
.elementor-1213
  .elementor-element.elementor-element-f4f7ee4
  .videobox_link::before {
  border-radius: 90px 90px 90px 90px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-e3e7128 {
  --spacer-size: 213px;
}
.elementor-1213 .elementor-element.elementor-element-530920d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1213 .elementor-element.elementor-element-88c11d0 {
  --spacer-size: 124px;
}
.elementor-1213 .elementor-element.elementor-element-60c0789 {
  --width: 100%;
  font-size: 36px;
  font-weight: 400;
  line-height: 1em;
  letter-spacing: -0.03em;
  --start-point: 100%;
  --end-point: -10%;
  --transition: 0.3s;
}
.elementor-1213 .elementor-element.elementor-element-60c0789 svg text {
  fill: #ffc300;
}
.elementor-1213 .elementor-element.elementor-element-60c0789 .text--word {
  color: #ffc300;
}
.elementor-1213 .elementor-element.elementor-element-6a329ab {
  --spacer-size: 30px;
}
.elementor-1213 .elementor-element.elementor-element-216caf8 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: -40px;
  --margin-left: 0px;
  --margin-right: 0px;
}
.elementor-1213
  .elementor-element.elementor-element-216caf8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1213
  .elementor-element.elementor-element-216caf8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-1213 .elementor-element.elementor-element-216caf8,
.elementor-1213 .elementor-element.elementor-element-216caf8::before {
  --border-transition: 0.3s;
}
.elementor-1213 .elementor-element.elementor-element-29679ac {
  --spacer-size: 127px;
}
.elementor-1213 .elementor-element.elementor-element-1615023 {
  --display: flex;
  --background-transition: 0.3s;
}
.elementor-1213
  .elementor-element.elementor-element-6d511aa
  .dblh__title-wrapper {
  font-size: 42px;
  text-transform: uppercase;
  line-height: 1.25em;
}
.elementor-1213 .elementor-element.elementor-element-6d511aa .dblh__title {
  display: inline;
}
.elementor-1213 .elementor-element.elementor-element-6d511aa .dblh__subtitle {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25em;
  margin: 0px 0px 11px 0px;
}
.elementor-1213
  .elementor-element.elementor-element-6d511aa
  > .elementor-widget-container {
  margin: 0px 0px 40px 0px;
}
.elementor-1213 .elementor-element.elementor-element-6d511aa {
  width: var(--container-widget-width, 480px);
  max-width: 480px;
  --container-widget-width: 480px;
  --container-widget-flex-grow: 0;
}
.elementor-1213 .elementor-element.elementor-element-54d21be {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 30px 30px;
  --background-transition: 0.3s;
}
.elementor-1213 .elementor-element.elementor-element-1596def {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1213 .elementor-element.elementor-element-d6bd30b .button__text {
  justify-content: center;
  text-align: center;
}
.elementor-1213 .elementor-element.elementor-element-d6bd30b .pricing__wrapper {
  padding: 39px 39px 39px 39px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  background-color: #ffffff;
  border-color: rgba(28, 28, 28, 0.15);
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__wrapper::before,
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__wrapper::after {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__wrapper:hover {
  background-color: #1c1c1c;
  border-color: #1c1c1c;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__thumbnail {
  margin: -40px -40px 31px -40px;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__pretitle {
  margin: 0px 0px 9px 0px;
}
.elementor-1213 .elementor-element.elementor-element-d6bd30b .pretitle {
  border-style: none;
  color: #ffc300;
}
.elementor-1213 .elementor-element.elementor-element-d6bd30b .price__value {
  margin: 0px 19px 0px 0px;
}
.elementor-1213 .elementor-element.elementor-element-d6bd30b .pricing__price {
  color: #1c1c1c;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__wrapper:hover
  .pricing__price {
  color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-d6bd30b .pricing__content {
  font-weight: 500;
  padding: 23px 0px 0px 0px;
  border-style: none;
  color: #1c1c1c;
  transition: 0.4s;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__wrapper:hover
  .pricing__content {
  color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-d6bd30b .pricing__button {
  margin: 30px 0px 0px 0px;
}
.elementor-1213 .elementor-element.elementor-element-d6bd30b .wgl-button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: #ffc300;
  --border-color: #f5f5f5;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b:not(.has-bg_animation)
  .wgl-button {
  background-color: #f5f5f5;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b.has-bg_animation
  .wgl-button::after {
  background-color: #f5f5f5;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__wrapper:hover
  .wgl-button {
  color: #ffffff;
  background-color: #ffc300;
  --border-color: #ffc300;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b.has-bg_animation
  .pricing__wrapper:hover
  .wgl-button::after {
  background-color: #ffc300;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__wrapper
  .wgl-button:hover,
.elementor-1213
  .elementor-element.elementor-element-d6bd30b
  .pricing__wrapper
  .wgl-button:focus {
  color: #1c1c1c;
  background-color: #ffffff;
  --border-color: #ffffff;
}
.elementor-1213
  .elementor-element.elementor-element-d6bd30b.has-bg_animation
  .pricing__wrapper
  .wgl-button:hover::after,
.elementor-1213
  .elementor-element.elementor-element-d6bd30b.has-bg_animation
  .pricing__wrapper
  .wgl-button:focus::after {
  background-color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-7a46460 {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1213 .elementor-element.elementor-element-890d07a .button__text {
  justify-content: center;
  text-align: center;
}
.elementor-1213 .elementor-element.elementor-element-890d07a .pricing__wrapper {
  padding: 39px 39px 39px 39px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  background-color: #ffffff;
  border-color: rgba(28, 28, 28, 0.15);
}
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__wrapper::before,
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__wrapper::after {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__wrapper:hover {
  background-color: #1c1c1c;
  border-color: #1c1c1c;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__thumbnail {
  margin: -40px -40px 31px -40px;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__pretitle {
  margin: 0px 0px 9px 0px;
}
.elementor-1213 .elementor-element.elementor-element-890d07a .pretitle {
  border-style: none;
  color: #ffc300;
}
.elementor-1213 .elementor-element.elementor-element-890d07a .price__value {
  margin: 0px 19px 0px 0px;
}
.elementor-1213 .elementor-element.elementor-element-890d07a .pricing__price {
  color: #1c1c1c;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__wrapper:hover
  .pricing__price {
  color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-890d07a .pricing__content {
  font-weight: 500;
  padding: 23px 0px 0px 0px;
  border-style: none;
  color: #1c1c1c;
  transition: 0.4s;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__wrapper:hover
  .pricing__content {
  color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-890d07a .pricing__button {
  margin: 30px 0px 0px 0px;
}
.elementor-1213 .elementor-element.elementor-element-890d07a .wgl-button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: #ffc300;
  --border-color: #f5f5f5;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a:not(.has-bg_animation)
  .wgl-button {
  background-color: #f5f5f5;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a.has-bg_animation
  .wgl-button::after {
  background-color: #f5f5f5;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__wrapper:hover
  .wgl-button {
  color: #ffffff;
  background-color: #ffc300;
  --border-color: #ffc300;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a.has-bg_animation
  .pricing__wrapper:hover
  .wgl-button::after {
  background-color: #ffc300;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__wrapper
  .wgl-button:hover,
.elementor-1213
  .elementor-element.elementor-element-890d07a
  .pricing__wrapper
  .wgl-button:focus {
  color: #1c1c1c;
  background-color: #ffffff;
  --border-color: #ffffff;
}
.elementor-1213
  .elementor-element.elementor-element-890d07a.has-bg_animation
  .pricing__wrapper
  .wgl-button:hover::after,
.elementor-1213
  .elementor-element.elementor-element-890d07a.has-bg_animation
  .pricing__wrapper
  .wgl-button:focus::after {
  background-color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-8959ffe {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1213 .elementor-element.elementor-element-649147b .button__text {
  justify-content: center;
  text-align: center;
}
.elementor-1213 .elementor-element.elementor-element-649147b .pricing__wrapper {
  padding: 39px 39px 39px 39px;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  background-color: #ffffff;
  border-color: rgba(28, 28, 28, 0.15);
}
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__wrapper::before,
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__wrapper::after {
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
}
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__wrapper:hover {
  background-color: #1c1c1c;
  border-color: #1c1c1c;
}
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__thumbnail {
  margin: -40px -40px 31px -40px;
}
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__pretitle {
  margin: 0px 0px 9px 0px;
}
.elementor-1213 .elementor-element.elementor-element-649147b .pretitle {
  border-style: none;
  color: #ffc300;
}
.elementor-1213 .elementor-element.elementor-element-649147b .price__value {
  margin: 0px 19px 0px 0px;
}
.elementor-1213 .elementor-element.elementor-element-649147b .pricing__price {
  color: #1c1c1c;
}
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__wrapper:hover
  .pricing__price {
  color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-649147b .pricing__content {
  font-weight: 500;
  padding: 23px 0px 0px 0px;
  border-style: none;
  color: #1c1c1c;
  transition: 0.4s;
}
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__wrapper:hover
  .pricing__content {
  color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-649147b .pricing__button {
  margin: 30px 0px 0px 0px;
}
.elementor-1213 .elementor-element.elementor-element-649147b .wgl-button {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  color: #ffc300;
  --border-color: #f5f5f5;
}
.elementor-1213
  .elementor-element.elementor-element-649147b:not(.has-bg_animation)
  .wgl-button {
  background-color: #f5f5f5;
}
.elementor-1213
  .elementor-element.elementor-element-649147b.has-bg_animation
  .wgl-button::after {
  background-color: #f5f5f5;
}
.elementor-1213
  .elementor-element.elementor-element-649147b.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__wrapper:hover
  .wgl-button {
  color: #ffffff;
  background-color: #ffc300;
  --border-color: #ffc300;
}
.elementor-1213
  .elementor-element.elementor-element-649147b.has-bg_animation
  .pricing__wrapper:hover
  .wgl-button::after {
  background-color: #ffc300;
}
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__wrapper
  .wgl-button:hover,
.elementor-1213
  .elementor-element.elementor-element-649147b
  .pricing__wrapper
  .wgl-button:focus {
  color: #1c1c1c;
  background-color: #ffffff;
  --border-color: #ffffff;
}
.elementor-1213
  .elementor-element.elementor-element-649147b.has-bg_animation
  .pricing__wrapper
  .wgl-button:hover::after,
.elementor-1213
  .elementor-element.elementor-element-649147b.has-bg_animation
  .pricing__wrapper
  .wgl-button:focus::after {
  background-color: #ffffff;
}
.elementor-1213 .elementor-element.elementor-element-f09ae0e {
  --spacer-size: 126px;
}
body.elementor-page-1213 #main.site-main {
  z-index: 0;
}
@media (max-width: 1200px) {
  .elementor-1213 .elementor-element.elementor-element-d6234d6 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-cda8a9a
    .dblh__title-wrapper {
    font-size: 36px;
  }
  .elementor-1213 .elementor-element.elementor-element-cda8a9a .dblh__subtitle {
    margin: 0px 0px 9px 0px;
  }
  .elementor-1213 .elementor-element.elementor-element-adbd9ba {
    --spacer-size: 70px;
  }
  .elementor-1213 .elementor-element.elementor-element-544d2cf {
    --spacer-size: 150px;
  }
  .elementor-1213 .elementor-element.elementor-element-f4f7ee4 .title {
    font-size: 32px;
  }
  .elementor-1213 .elementor-element.elementor-element-e3e7128 {
    --spacer-size: 150px;
  }
  .elementor-1213 .elementor-element.elementor-element-88c11d0 {
    --spacer-size: 70px;
  }
  .elementor-1213 .elementor-element.elementor-element-29679ac {
    --spacer-size: 70px;
  }
  .elementor-1213
    .elementor-element.elementor-element-6d511aa
    .dblh__title-wrapper {
    font-size: 36px;
  }
  .elementor-1213 .elementor-element.elementor-element-6d511aa .dblh__subtitle {
    margin: 0px 0px 9px 0px;
  }
  .elementor-1213 .elementor-element.elementor-element-6d511aa {
    width: 100%;
    max-width: 100%;
  }
  .elementor-1213 .elementor-element.elementor-element-54d21be {
    --justify-content: center;
    --align-items: center;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --flex-wrap: wrap;
  }
  .elementor-1213
    .elementor-element.elementor-element-d6bd30b
    .pricing__wrapper {
    padding: 29px 29px 29px 29px;
  }
  .elementor-1213
    .elementor-element.elementor-element-d6bd30b
    .pricing__thumbnail {
    margin: -30px -30px 25px -30px;
  }
  .elementor-1213
    .elementor-element.elementor-element-d6bd30b
    .pricing__content {
    padding: 20px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-d6bd30b
    .pricing__button {
    margin: 26px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-890d07a
    .pricing__wrapper {
    padding: 29px 29px 29px 29px;
  }
  .elementor-1213
    .elementor-element.elementor-element-890d07a
    .pricing__thumbnail {
    margin: -30px -30px 25px -30px;
  }
  .elementor-1213
    .elementor-element.elementor-element-890d07a
    .pricing__content {
    padding: 20px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-890d07a
    .pricing__button {
    margin: 26px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-649147b
    .pricing__wrapper {
    padding: 29px 29px 29px 29px;
  }
  .elementor-1213
    .elementor-element.elementor-element-649147b
    .pricing__thumbnail {
    margin: -30px -30px 25px -30px;
  }
  .elementor-1213
    .elementor-element.elementor-element-649147b
    .pricing__content {
    padding: 20px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-649147b
    .pricing__button {
    margin: 26px 0px 0px 0px;
  }
  .elementor-1213 .elementor-element.elementor-element-f09ae0e {
    --spacer-size: 70px;
  }
}
@media (max-width: 767px) {
  .elementor-1213 .elementor-element.elementor-element-d6234d6 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-cda8a9a
    .dblh__title-wrapper {
    font-size: 32px;
  }
  .elementor-1213 .elementor-element.elementor-element-cda8a9a .dblh__subtitle {
    margin: 0px 0px 7px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-2a71a4c
    > .elementor-widget-container {
    margin: 30px 0px 0px 0px;
  }
  .elementor-1213 .elementor-element.elementor-element-9c4b7e9 {
    --margin-top: 10px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-9792d2c
    .wgl-accordion_icon {
    margin: 5px 0px 0px 10px;
  }
  .elementor-1213
    .elementor-element.elementor-element-9792d2c
    .wgl-accordion_content {
    padding: 0px 0px 22px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-9792d2c
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-1213 .elementor-element.elementor-element-544d2cf {
    --spacer-size: 100px;
  }
  .elementor-1213 .elementor-element.elementor-element-f4f7ee4 .title {
    font-size: 24px;
  }
  .elementor-1213 .elementor-element.elementor-element-f4f7ee4 .videobox_link {
    width: 70px;
    height: 70px;
  }
  .elementor-1213 .elementor-element.elementor-element-e3e7128 {
    --spacer-size: 100px;
  }
  .elementor-1213 .elementor-element.elementor-element-60c0789 {
    font-size: 24px;
  }
  .elementor-1213 .elementor-element.elementor-element-216caf8 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-6d511aa
    .dblh__title-wrapper {
    font-size: 32px;
  }
  .elementor-1213 .elementor-element.elementor-element-6d511aa .dblh__subtitle {
    margin: 0px 0px 7px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-d6bd30b
    .pricing__wrapper {
    padding: 19px 19px 19px 19px;
  }
  .elementor-1213
    .elementor-element.elementor-element-d6bd30b
    .pricing__thumbnail {
    margin: -20px -20px 20px -20px;
  }
  .elementor-1213
    .elementor-element.elementor-element-d6bd30b
    .pricing__content {
    padding: 17px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-d6bd30b
    .pricing__button {
    margin: 23px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-890d07a
    .pricing__wrapper {
    padding: 19px 19px 19px 19px;
  }
  .elementor-1213
    .elementor-element.elementor-element-890d07a
    .pricing__thumbnail {
    margin: -20px -20px 20px -20px;
  }
  .elementor-1213
    .elementor-element.elementor-element-890d07a
    .pricing__content {
    padding: 17px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-890d07a
    .pricing__button {
    margin: 23px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-649147b
    .pricing__wrapper {
    padding: 19px 19px 19px 19px;
  }
  .elementor-1213
    .elementor-element.elementor-element-649147b
    .pricing__thumbnail {
    margin: -20px -20px 20px -20px;
  }
  .elementor-1213
    .elementor-element.elementor-element-649147b
    .pricing__content {
    padding: 17px 0px 0px 0px;
  }
  .elementor-1213
    .elementor-element.elementor-element-649147b
    .pricing__button {
    margin: 23px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-1213 .elementor-element.elementor-element-01b2c82 {
    --width: 42%;
  }
  .elementor-1213 .elementor-element.elementor-element-9c4b7e9 {
    --width: 59%;
  }
  .elementor-1213 .elementor-element.elementor-element-cb10176 {
    --content-width: 1500px;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .elementor-1213 .elementor-element.elementor-element-1596def {
    --width: calc(50% - 15px);
  }
  .elementor-1213 .elementor-element.elementor-element-7a46460 {
    --width: calc(50% - 15px);
  }
  .elementor-1213 .elementor-element.elementor-element-8959ffe {
    --width: calc(50% - 15px);
  }
}
