.elementor-1196 .elementor-element.elementor-element-6e4c88e {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: column;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --justify-content: space-between;
  --align-items: center;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 75px;
  --padding-bottom: 70px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1196
  .elementor-element.elementor-element-6e4c88e:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1196
  .elementor-element.elementor-element-6e4c88e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1c1c1c;
}
.elementor-1196 .elementor-element.elementor-element-6e4c88e,
.elementor-1196 .elementor-element.elementor-element-6e4c88e::before {
  --border-transition: 0.3s;
}
.elementor-1196 .elementor-element.elementor-element-dc30d8c {
  --display: flex;
  --align-items: center;
  --container-widget-width: calc(
    (1 - var(--container-widget-flex-grow)) * 100%
  );
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1196
  .elementor-element.elementor-element-3f7e4e8
  .wgl-logotype-container,
.elementor-1196 .elementor-element.elementor-element-3f7e4e8 {
  text-align: left;
  justify-content: lex-start;
}
.elementor-1196 .elementor-element.elementor-element-d1dbc6a {
  --spacer-size: 45px;
}
.elementor-1196
  .elementor-element.elementor-element-d122a37
  .dblh__title-wrapper {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 32px;
}
.elementor-1196 .elementor-element.elementor-element-d122a37 .dblh__title {
  display: inline;
}
.elementor-1196 .elementor-element.elementor-element-d122a37 .dblh__title-1 {
  color: #ffffff;
}
.elementor-1196 .elementor-element.elementor-element-d122a37 {
  width: var(--container-widget-width, 300px);
  max-width: 300px;
  --container-widget-width: 300px;
  --container-widget-flex-grow: 0;
}
.elementor-1196 .elementor-element.elementor-element-f78f87e {
  --spacer-size: 65px;
}
.elementor-1196 .elementor-element.elementor-element-f462fba .wgl-button {
  justify-content: center;
  font-size: 32px;
  letter-spacing: 0px;
  --button-padding: 0px 0px 0px 0px;
  --button-border-radius: 60px 60px 60px 60px;
}
.elementor-1196 .elementor-element.elementor-element-f462fba .button__text {
  justify-content: center;
}
.elementor-1196 .elementor-element.elementor-element-f462fba .wgl-button,
.elementor-1196
  .elementor-element.elementor-element-f462fba.has-bg_animation
  .wgl-button::after {
  border-style: none;
}
.elementor-1196
  .elementor-element.elementor-element-f462fba
  .elementor-widget-container
  .wgl-button {
  color: #ffc300;
}
.elementor-1196
  .elementor-element.elementor-element-f462fba:not(.has-bg_animation)
  .wgl-button {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-f462fba.has-bg_animation
  .wgl-button::after {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-f462fba.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-1196
  .elementor-element.elementor-element-f462fba
  .elementor-widget-container
  .wgl-button:hover,
.elementor-1196
  .elementor-element.elementor-element-f462fba
  .elementor-widget-container
  .wgl-button:focus {
  color: #ffffff;
}
.elementor-1196 .elementor-element.elementor-element-f462fba .wgl-button:hover,
.elementor-1196 .elementor-element.elementor-element-f462fba .wgl-button:focus {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-f462fba.has-bg_animation
  .wgl-button:hover::after,
.elementor-1196
  .elementor-element.elementor-element-f462fba.has-bg_animation
  .wgl-button:focus::after {
  background-color: #02010100;
}
.elementor-1196 .elementor-element.elementor-element-d529670 .wgl-button {
  justify-content: center;
  font-size: 32px;
  letter-spacing: 0px;
  --button-padding: 0px 0px 0px 0px;
  --button-border-radius: 60px 60px 60px 60px;
}
.elementor-1196 .elementor-element.elementor-element-d529670 .button__text {
  justify-content: center;
}
.elementor-1196 .elementor-element.elementor-element-d529670 .wgl-button,
.elementor-1196
  .elementor-element.elementor-element-d529670.has-bg_animation
  .wgl-button::after {
  border-style: none;
}
.elementor-1196
  .elementor-element.elementor-element-d529670
  .elementor-widget-container
  .wgl-button {
  color: #ffc300;
}
.elementor-1196
  .elementor-element.elementor-element-d529670:not(.has-bg_animation)
  .wgl-button {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-d529670.has-bg_animation
  .wgl-button::after {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-d529670.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-1196
  .elementor-element.elementor-element-d529670
  .elementor-widget-container
  .wgl-button:hover,
.elementor-1196
  .elementor-element.elementor-element-d529670
  .elementor-widget-container
  .wgl-button:focus {
  color: #ffffff;
}
.elementor-1196 .elementor-element.elementor-element-d529670 .wgl-button:hover,
.elementor-1196 .elementor-element.elementor-element-d529670 .wgl-button:focus {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-d529670.has-bg_animation
  .wgl-button:hover::after,
.elementor-1196
  .elementor-element.elementor-element-d529670.has-bg_animation
  .wgl-button:focus::after {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-d529670
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
}
.elementor-1196 .elementor-element.elementor-element-78705bc {
  --spacer-size: 75px;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-form-control-wrap,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-form-control.wpcf7-submit {
  display: inline-block;
  vertical-align: top;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-form-control-wrap
  + br {
  display: none;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-form-control-wrap {
  width: 100%;
  margin: 0px 0px 0px 0px;
}
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="text"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="url"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="search"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="email"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="password"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="tel"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="time"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="number"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="date"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c select,
.elementor-1196 .elementor-element.elementor-element-0c51b5c textarea,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input.wpcf7-form-control::placeholder,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  select.wpcf7-select::placeholder,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  textarea.wpcf7-textarea::placeholder {
  font-size: 16px;
  font-weight: 500;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-form-control-wrap
  input,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-form-control-wrap
  select,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-form-control-wrap
  textarea {
  margin-bottom: calc(0px - 0px);
}
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="text"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="url"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="search"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="email"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="password"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="tel"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="time"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="number"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="date"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c select,
.elementor-1196 .elementor-element.elementor-element-0c51b5c textarea {
  padding: 0px 0px 0px 0px;
}
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="text"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="url"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="search"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="email"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="password"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="tel"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="time"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="number"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="date"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c select {
  height: 48px;
  min-height: 48px;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input.wpcf7-form-control::placeholder,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  select.wpcf7-select::placeholder,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  textarea.wpcf7-textarea::placeholder {
  color: #ffffff;
}
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="text"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="url"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="search"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="email"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="password"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="tel"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="time"],
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="number"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c input[type="date"],
.elementor-1196 .elementor-element.elementor-element-0c51b5c select,
.elementor-1196 .elementor-element.elementor-element-0c51b5c textarea {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #ffffff;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="text"]:focus,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="url"]:focus,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="search"]:focus,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="email"]:focus,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="password"]:focus,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="tel"]:focus,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="time"]:focus,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="number"]:focus,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  input[type="date"]:focus,
.elementor-1196 .elementor-element.elementor-element-0c51b5c select:focus,
.elementor-1196 .elementor-element.elementor-element-0c51b5c textarea:focus {
  color: #ffffff;
}
.elementor-1196 .elementor-element.elementor-element-0c51b5c .wpcf7-submit {
  font-size: 22px;
  font-weight: 700;
  font-style: normal;
  min-width: 25px;
  margin: 4px 0px 0px -25px;
  height: auto;
  padding: 0px 0px 0px 0px;
  color: #ffc300;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wgl-button.has-animated-bg
  .wpcf7-submit {
  margin: 0;
  padding: 0;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wgl-button-cf7
  .wpcf7-submit {
  margin: 0;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wgl-button.has-animated-bg {
  margin: 4px 0px 0px -25px;
}
.elementor-1196 .elementor-element.elementor-element-0c51b5c .wgl-button-cf7 {
  margin: 4px 0px 0px -25px;
}
.elementor-1196 .elementor-element.elementor-element-0c51b5c .wpcf7-submit,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wgl-button-cf7
  .wpcf7-submit
  ~ i {
  border-style: none;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wgl-button-cf7
  .wpcf7-submit
  ~ i {
  color: #ffc300;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wgl-button-cf7
  .wpcf7-submit
  ~ span:not(.wpcf7-spinner) {
  color: #ffc300;
}
.elementor-1196 .elementor-element.elementor-element-0c51b5c .wpcf7-submit,
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wgl-button.has-animated-bg::before {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-submit:hover {
  color: #ffffff;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wgl-button-cf7
  .wpcf7-submit:hover
  ~ i {
  color: #ffffff;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wgl-button-cf7
  .wpcf7-submit:hover
  ~ span:not(.wpcf7-spinner) {
  color: #ffffff;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-not-valid-tip {
  margin: 10px 0px -5px 0px;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  .wpcf7-response-output {
  font-size: 14px;
  color: #ffffff;
}
.elementor-1196
  .elementor-element.elementor-element-0c51b5c
  > .elementor-widget-container {
  margin: -12px 0px 0px 0px;
}
.elementor-1196 .elementor-element.elementor-element-0c51b5c {
  width: var(--container-widget-width, 360px);
  max-width: 360px;
  --container-widget-width: 360px;
  --container-widget-flex-grow: 0;
}
.elementor-1196 .elementor-element.elementor-element-2cee962 {
  text-align: center;
  color: #acacac;
  font-size: 14px;
  line-height: 24px;
  width: var(--container-widget-width, 350px);
  max-width: 350px;
  --container-widget-width: 350px;
  --container-widget-flex-grow: 0;
}
.elementor-1196
  .elementor-element.elementor-element-2cee962
  > .elementor-widget-container {
  margin: 15px 0px 0px 0px;
}
.elementor-1196 .elementor-element.elementor-element-f508e15 {
  --spacer-size: 55px;
}
.elementor-1196 .elementor-element.elementor-element-a9e4c7f {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --gap: 15px 25px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-1196 .elementor-element.elementor-element-d54b91f .wgl-button {
  justify-content: center;
  font-size: 16px;
  --button-padding: 0px 0px 0px 0px;
  --button-border-radius: 60px 60px 60px 60px;
}
.elementor-1196 .elementor-element.elementor-element-d54b91f .button__text {
  justify-content: center;
}
.elementor-1196
  .elementor-element.elementor-element-d54b91f
  .wgl-button
  .button__content {
  --wgl-icon-gap: 10px;
}
.elementor-1196 .elementor-element.elementor-element-d54b91f .wgl-button,
.elementor-1196
  .elementor-element.elementor-element-d54b91f.has-bg_animation
  .wgl-button::after {
  border-style: none;
}
.elementor-1196
  .elementor-element.elementor-element-d54b91f:not(.has-bg_animation)
  .wgl-button {
  background-color: #ffffff00;
}
.elementor-1196
  .elementor-element.elementor-element-d54b91f.has-bg_animation
  .wgl-button::after {
  background-color: #ffffff00;
}
.elementor-1196
  .elementor-element.elementor-element-d54b91f.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-1196
  .elementor-element.elementor-element-d54b91f
  .elementor-widget-container
  .wgl-button:hover,
.elementor-1196
  .elementor-element.elementor-element-d54b91f
  .elementor-widget-container
  .wgl-button:focus {
  color: #ffc300;
}
.elementor-1196 .elementor-element.elementor-element-d54b91f .wgl-button:hover,
.elementor-1196 .elementor-element.elementor-element-d54b91f .wgl-button:focus {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-d54b91f.has-bg_animation
  .wgl-button:hover::after,
.elementor-1196
  .elementor-element.elementor-element-d54b91f.has-bg_animation
  .wgl-button:focus::after {
  background-color: #02010100;
}
.elementor-1196 .elementor-element.elementor-element-d54b91f .elementor-icon {
  --icon-rotate: 180deg;
}
.elementor-1196
  .elementor-element.elementor-element-d54b91f
  .wgl-button:hover
  .elementor-icon,
.elementor-1196
  .elementor-element.elementor-element-d54b91f
  .wgl-button:focus
  .elementor-icon {
  color: #ffc300;
  fill: #ffc300;
}
.elementor-1196 .elementor-element.elementor-element-8f798be .wgl-button {
  justify-content: center;
  font-size: 16px;
  --button-padding: 0px 0px 0px 0px;
  --button-border-radius: 60px 60px 60px 60px;
}
.elementor-1196 .elementor-element.elementor-element-8f798be .button__text {
  justify-content: center;
}
.elementor-1196
  .elementor-element.elementor-element-8f798be
  .wgl-button
  .button__content {
  --wgl-icon-gap: 10px;
}
.elementor-1196 .elementor-element.elementor-element-8f798be .wgl-button,
.elementor-1196
  .elementor-element.elementor-element-8f798be.has-bg_animation
  .wgl-button::after {
  border-style: none;
}
.elementor-1196
  .elementor-element.elementor-element-8f798be:not(.has-bg_animation)
  .wgl-button {
  background-color: #ffffff00;
}
.elementor-1196
  .elementor-element.elementor-element-8f798be.has-bg_animation
  .wgl-button::after {
  background-color: #ffffff00;
}
.elementor-1196
  .elementor-element.elementor-element-8f798be.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-1196
  .elementor-element.elementor-element-8f798be
  .elementor-widget-container
  .wgl-button:hover,
.elementor-1196
  .elementor-element.elementor-element-8f798be
  .elementor-widget-container
  .wgl-button:focus {
  color: #ffc300;
}
.elementor-1196 .elementor-element.elementor-element-8f798be .wgl-button:hover,
.elementor-1196 .elementor-element.elementor-element-8f798be .wgl-button:focus {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-8f798be.has-bg_animation
  .wgl-button:hover::after,
.elementor-1196
  .elementor-element.elementor-element-8f798be.has-bg_animation
  .wgl-button:focus::after {
  background-color: #02010100;
}
.elementor-1196 .elementor-element.elementor-element-8f798be .elementor-icon {
  --icon-rotate: 180deg;
}
.elementor-1196
  .elementor-element.elementor-element-8f798be
  .wgl-button:hover
  .elementor-icon,
.elementor-1196
  .elementor-element.elementor-element-8f798be
  .wgl-button:focus
  .elementor-icon {
  color: #ffc300;
  fill: #ffc300;
}
.elementor-1196 .elementor-element.elementor-element-290632e .wgl-button {
  justify-content: center;
  font-size: 16px;
  --button-padding: 0px 0px 0px 0px;
  --button-border-radius: 60px 60px 60px 60px;
}
.elementor-1196 .elementor-element.elementor-element-290632e .button__text {
  justify-content: center;
}
.elementor-1196
  .elementor-element.elementor-element-290632e
  .wgl-button
  .button__content {
  --wgl-icon-gap: 10px;
}
.elementor-1196 .elementor-element.elementor-element-290632e .wgl-button,
.elementor-1196
  .elementor-element.elementor-element-290632e.has-bg_animation
  .wgl-button::after {
  border-style: none;
}
.elementor-1196
  .elementor-element.elementor-element-290632e:not(.has-bg_animation)
  .wgl-button {
  background-color: #ffffff00;
}
.elementor-1196
  .elementor-element.elementor-element-290632e.has-bg_animation
  .wgl-button::after {
  background-color: #ffffff00;
}
.elementor-1196
  .elementor-element.elementor-element-290632e.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-1196
  .elementor-element.elementor-element-290632e
  .elementor-widget-container
  .wgl-button:hover,
.elementor-1196
  .elementor-element.elementor-element-290632e
  .elementor-widget-container
  .wgl-button:focus {
  color: #ffc300;
}
.elementor-1196 .elementor-element.elementor-element-290632e .wgl-button:hover,
.elementor-1196 .elementor-element.elementor-element-290632e .wgl-button:focus {
  background-color: #02010100;
}
.elementor-1196
  .elementor-element.elementor-element-290632e.has-bg_animation
  .wgl-button:hover::after,
.elementor-1196
  .elementor-element.elementor-element-290632e.has-bg_animation
  .wgl-button:focus::after {
  background-color: #02010100;
}
.elementor-1196 .elementor-element.elementor-element-290632e .elementor-icon {
  --icon-rotate: 180deg;
}
.elementor-1196
  .elementor-element.elementor-element-290632e
  .wgl-button:hover
  .elementor-icon,
.elementor-1196
  .elementor-element.elementor-element-290632e
  .wgl-button:focus
  .elementor-icon {
  color: #ffc300;
  fill: #ffc300;
}
@media (max-width: 1200px) {
  .elementor-1196
    .elementor-element.elementor-element-d122a37
    .dblh__title-wrapper {
    font-size: 36px;
  }
  .elementor-1196 .elementor-element.elementor-element-f462fba .wgl-button {
    font-size: 24px;
  }
  .elementor-1196 .elementor-element.elementor-element-d529670 .wgl-button {
    font-size: 24px;
  }
  .elementor-1196 .elementor-element.elementor-element-a9e4c7f {
    --gap: 15px 20px;
    --flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .elementor-1196
    .elementor-element.elementor-element-d122a37
    .dblh__title-wrapper {
    font-size: 32px;
  }
  .elementor-1196
    .elementor-element.elementor-element-0c51b5c
    > .elementor-widget-container {
    margin: 5px 0px 0px 0px;
  }
}
