.elementor-988 .elementor-element.elementor-element-0288def {
  --display: flex;
  --min-height: 100vh;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --overflow: hidden;
  --background-transition: 0.3s;
  --margin-top: -40px;
  --margin-bottom: -40px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-988
  .elementor-element.elementor-element-0288def:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-988
  .elementor-element.elementor-element-0288def
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2024/05/cs-bg1.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-988 .elementor-element.elementor-element-0288def,
.elementor-988 .elementor-element.elementor-element-0288def::before {
  --border-transition: 0.3s;
}
.elementor-988 .elementor-element.elementor-element-0d9990c {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-988 .elementor-element.elementor-element-0499981 {
  --spacer-size: 173px;
}
.elementor-988 .elementor-element.elementor-element-084b700 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --justify-content: center;
  --gap: 30px 30px;
  --background-transition: 0.3s;
}
.elementor-988
  .elementor-element.elementor-element-17fa323
  .wgl-logotype-container,
.elementor-988 .elementor-element.elementor-element-17fa323 {
  text-align: left;
  justify-content: lex-start;
}
.elementor-988 .elementor-element.elementor-element-f72b91d {
  --spacer-size: 97px;
}
.elementor-988 .elementor-element.elementor-element-540a4d6 {
  text-align: center;
}
.elementor-988
  .elementor-element.elementor-element-540a4d6
  .elementor-heading-title {
  color: #ffffff;
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0em;
}
.elementor-988 .elementor-element.elementor-element-3265c92 {
  --spacer-size: 97px;
}
.elementor-988
  .elementor-element.elementor-element-21c9488
  .countdown-period::before,
.elementor-988
  .elementor-element.elementor-element-21c9488
  .countdown-period::after {
  display: inline;
}
.elementor-988
  .elementor-element.elementor-element-21c9488
  .countdown-section:not(:last-child)
  .countdown-amount::before,
.elementor-988
  .elementor-element.elementor-element-21c9488
  .countdown-section:not(:last-child)
  .countdown-amount::after {
  visibility: visible;
}
.elementor-988
  .elementor-element.elementor-element-21c9488
  .wgl-countdown
  .countdown-section {
  padding: 0em 0.4em 0em 0.4em;
}
.elementor-988
  .elementor-element.elementor-element-21c9488
  .wgl-countdown
  .countdown-period {
  margin-right: calc(-0.5 * 0.4em);
  margin-left: calc(-0.5 * 0.4em);
  font-weight: 500;
  letter-spacing: 0.15em;
  text-align: center;
  color: #ffc300;
}
.elementor-988 .elementor-element.elementor-element-21c9488 .wgl-countdown {
  font-size: 110px;
}
.elementor-988
  .elementor-element.elementor-element-21c9488
  .wgl-countdown
  .countdown-amount {
  color: #ffffff;
  min-width: 1.2em;
}
.elementor-988
  .elementor-element.elementor-element-21c9488
  .countdown-section:not(:last-child)
  .countdown-amount::before,
.elementor-988
  .elementor-element.elementor-element-21c9488
  .countdown-section:not(:last-child)
  .countdown-amount::after {
  color: #ffc300;
}
.elementor-988
  .elementor-element.elementor-element-21c9488
  .countdown-section:not(:last-child)
  .countdown-amount {
  --dots-size: 10px;
  --dots-interval: 0.05em;
  --dots-v-pos: 0.35em;
}
.elementor-988 .elementor-element.elementor-element-2cbd067 {
  --spacer-size: 106px;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-form-control-wrap,
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-form-control.wpcf7-submit {
  display: inline-block;
  vertical-align: top;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-form-control-wrap
  + br {
  display: none;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-form-control-wrap {
  width: 380px;
  margin: 14px 20px 0px 0px;
}
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="text"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="url"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="search"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="email"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="password"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="tel"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="time"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="number"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="date"],
.elementor-988 .elementor-element.elementor-element-bf64896 select,
.elementor-988 .elementor-element.elementor-element-bf64896 textarea,
.elementor-988
  .elementor-element.elementor-element-bf64896
  input.wpcf7-form-control::placeholder,
.elementor-988
  .elementor-element.elementor-element-bf64896
  select.wpcf7-select::placeholder,
.elementor-988
  .elementor-element.elementor-element-bf64896
  textarea.wpcf7-textarea::placeholder {
  font-size: 16px;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-form-control-wrap
  input,
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-form-control-wrap
  select,
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-form-control-wrap
  textarea {
  margin-bottom: calc(0px - 0px);
}
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="text"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="url"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="search"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="email"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="password"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="tel"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="time"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="number"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="date"],
.elementor-988 .elementor-element.elementor-element-bf64896 select {
  height: 42px;
  min-height: 42px;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  input.wpcf7-form-control::placeholder,
.elementor-988
  .elementor-element.elementor-element-bf64896
  select.wpcf7-select::placeholder,
.elementor-988
  .elementor-element.elementor-element-bf64896
  textarea.wpcf7-textarea::placeholder {
  color: #ffffff;
}
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="text"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="url"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="search"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="email"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="password"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="tel"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="time"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="number"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="date"],
.elementor-988 .elementor-element.elementor-element-bf64896 select,
.elementor-988 .elementor-element.elementor-element-bf64896 textarea {
  color: #ffffff;
}
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="text"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="url"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="search"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="email"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="password"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="tel"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="time"],
.elementor-988
  .elementor-element.elementor-element-bf64896
  input[type="number"],
.elementor-988 .elementor-element.elementor-element-bf64896 input[type="date"],
.elementor-988 .elementor-element.elementor-element-bf64896 select,
.elementor-988 .elementor-element.elementor-element-bf64896 textarea {
  border-style: solid;
  border-color: #ffffff;
}
.elementor-988 .elementor-element.elementor-element-bf64896 .wpcf7-submit,
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wgl-button-cf7
  .wpcf7-submit
  ~ i {
  border-style: solid;
}
.elementor-988 .elementor-element.elementor-element-bf64896 .wpcf7-submit {
  color: #ffffff;
  border-color: #ffc300;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wgl-button-cf7
  .wpcf7-submit
  ~ i {
  color: #ffffff;
  border-color: #ffc300;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wgl-button-cf7
  .wpcf7-submit
  ~ span:not(.wpcf7-spinner) {
  color: #ffffff;
}
.elementor-988 .elementor-element.elementor-element-bf64896 .wpcf7-submit,
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wgl-button.has-animated-bg::before {
  background-color: #ffc300;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-submit:hover {
  color: #1c1c1c;
  border-color: #ffffff;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wgl-button-cf7
  .wpcf7-submit:hover
  ~ i {
  color: #1c1c1c;
  border-color: #ffffff;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wgl-button-cf7
  .wpcf7-submit:hover
  ~ span:not(.wpcf7-spinner) {
  color: #1c1c1c;
}
.elementor-988 .elementor-element.elementor-element-bf64896 .wpcf7-submit:hover,
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wgl-button.has-animated-bg:hover::before {
  background-color: #ffffff;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-not-valid-tip {
  margin: 10px 0px -10px 0px;
}
.elementor-988
  .elementor-element.elementor-element-bf64896
  .wpcf7-response-output {
  color: #bdbdbd;
}
.elementor-988 .elementor-element.elementor-element-bf64896 {
  z-index: 1;
}
.elementor-988 .elementor-element.elementor-element-dad7ae9 {
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
.elementor-988
  .elementor-element.elementor-element-dad7ae9
  > .elementor-widget-container {
  margin: 23px 0px 0px 0px;
}
.elementor-988 .elementor-element.elementor-element-97e54fe {
  --spacer-size: 64px;
}
.elementor-988 .elementor-element.elementor-element-61c815e {
  text-align: center;
  --icon-size: 18px;
}
.elementor-988 .elementor-element.elementor-element-61c815e .elementor-icon i {
  color: #ffffff;
}
.elementor-988
  .elementor-element.elementor-element-61c815e
  .elementor-icon
  svg {
  fill: #ffffff;
}
.elementor-988 .elementor-element.elementor-element-61c815e .elementor-icon {
  background-color: #ffc30000;
  border-radius: 50px 50px 50px 50px;
}
.elementor-988
  .elementor-element.elementor-element-61c815e
  .elementor-icon:hover {
  opacity: 1;
  background-color: #ffc300;
}
.elementor-988
  .elementor-element.elementor-element-61c815e
  .elementor-icon:hover
  i {
  color: #ffffff;
}
.elementor-988
  .elementor-element.elementor-element-61c815e
  .elementor-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-988
  .elementor-element.elementor-element-61c815e
  .elementor-social-icon {
  --icon-padding: 9px;
}
.elementor-988
  .elementor-element.elementor-element-61c815e
  .elementor-icon:not(:last-child) {
  margin-right: 6px;
}
.elementor-988 .elementor-element.elementor-element-9a8c13e {
  --spacer-size: 50px;
}
.elementor-988 .elementor-element.elementor-element-c6475c9 {
  --display: flex;
  --background-transition: 0.3s;
  --position: absolute;
  bottom: 0px;
  --z-index: 1;
  background-color: transparent;
  -webkit-mask-image: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6) -200%,
    rgba(255, 255, 255, 0) 90%
  );
}
body:not(.rtl) .elementor-988 .elementor-element.elementor-element-c6475c9 {
  left: 0px;
}
body.rtl .elementor-988 .elementor-element.elementor-element-c6475c9 {
  right: 0px;
}
.elementor-988
  .elementor-element.elementor-element-c6475c9
  .elementor-editor-section-settings {
  transform: translateX(-50%) translateY(0) scaleY(-1);
}
.elementor-988
  .elementor-element.elementor-element-e3a51cb
  .dblh__title-wrapper {
  font-size: clamp(50px, 16.2vw, 300px);
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0em;
}
.elementor-988 .elementor-element.elementor-element-e3a51cb .dblh__title {
  display: inline;
}
.elementor-988 .elementor-element.elementor-element-e3a51cb .dblh__title-1 {
  color: #ffffff;
}
.elementor-988
  .elementor-element.elementor-element-e3a51cb
  > .elementor-widget-container {
  margin: 0vw -10vw -3vw -10vw;
}
.elementor-988 .elementor-element.elementor-element-e3a51cb {
  width: 100%;
  max-width: 100%;
}
body.elementor-page-988 #main.site-main {
  z-index: 0;
}
@media (max-width: 1200px) {
  .elementor-988 .elementor-element.elementor-element-0499981 {
    --spacer-size: 100px;
  }
  .elementor-988 .elementor-element.elementor-element-f72b91d {
    --spacer-size: 70px;
  }
  .elementor-988
    .elementor-element.elementor-element-540a4d6
    .elementor-heading-title {
    line-height: 1.2em;
  }
  .elementor-988 .elementor-element.elementor-element-3265c92 {
    --spacer-size: 70px;
  }
  .elementor-988 .elementor-element.elementor-element-21c9488 .wgl-countdown {
    font-size: 64px;
  }
  .elementor-988
    .elementor-element.elementor-element-21c9488
    .countdown-section:not(:last-child)
    .countdown-amount {
    --dots-size: 6px;
  }
  .elementor-988 .elementor-element.elementor-element-2cbd067 {
    --spacer-size: 70px;
  }
  .elementor-988 .elementor-element.elementor-element-97e54fe {
    --spacer-size: 70px;
  }
}
@media (max-width: 767px) {
  .elementor-988 .elementor-element.elementor-element-084b700 {
    --flex-direction: column;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --align-items: center;
  }
  .elementor-988 .elementor-element.elementor-element-f72b91d {
    --spacer-size: 40px;
  }
  .elementor-988
    .elementor-element.elementor-element-540a4d6
    .elementor-heading-title {
    font-size: 40px;
    line-height: 1.2em;
  }
  .elementor-988 .elementor-element.elementor-element-3265c92 {
    --spacer-size: 50px;
  }
  .elementor-988
    .elementor-element.elementor-element-21c9488
    .countdown-period::before,
  .elementor-988
    .elementor-element.elementor-element-21c9488
    .countdown-period::after {
    display: none;
  }
  .elementor-988
    .elementor-element.elementor-element-21c9488
    .wgl-countdown
    .countdown-section {
    padding: 0px 20px 0px 20px;
  }
  .elementor-988
    .elementor-element.elementor-element-21c9488
    .wgl-countdown
    .countdown-period {
    margin-right: calc(-0.5 * 20px);
    margin-left: calc(-0.5 * 20px);
    font-size: 12px;
  }
  .elementor-988 .elementor-element.elementor-element-21c9488 .wgl-countdown {
    font-size: 8vw;
  }
  .elementor-988
    .elementor-element.elementor-element-21c9488
    .countdown-section:not(:last-child)
    .countdown-amount {
    --dots-size: 3px;
  }
  .elementor-988 .elementor-element.elementor-element-2cbd067 {
    --spacer-size: 50px;
  }
  .elementor-988
    .elementor-element.elementor-element-bf64896
    .wpcf7-form-control-wrap {
    width: 100%;
  }
  .elementor-988 .elementor-element.elementor-element-bf64896 .wpcf7-submit {
    margin: 20px 0px 0px 0px;
  }
  .elementor-988
    .elementor-element.elementor-element-bf64896
    .wgl-button.has-animated-bg
    .wpcf7-submit {
    margin: 0;
  }
  .elementor-988
    .elementor-element.elementor-element-bf64896
    .wgl-button-cf7
    .wpcf7-submit {
    margin: 0;
  }
  .elementor-988
    .elementor-element.elementor-element-bf64896
    .wgl-button.has-animated-bg {
    margin: 20px 0px 0px 0px;
  }
  .elementor-988 .elementor-element.elementor-element-bf64896 .wgl-button-cf7 {
    margin: 20px 0px 0px 0px;
  }
  .elementor-988 .elementor-element.elementor-element-97e54fe {
    --spacer-size: 35px;
  }
  .elementor-988 .elementor-element.elementor-element-9a8c13e {
    --spacer-size: 66px;
  }
}
