.elementor-176 .elementor-element.elementor-element-0576c73 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --background-transition: 0.3s;
  --margin-top: 40px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --margin-right: 0px;
}
.elementor-176 .elementor-element.elementor-element-c985427 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 20px 60px;
  --background-transition: 0.3s;
}
.elementor-176 .elementor-element.elementor-element-0aff527 {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --padding-top: 36px;
  --padding-bottom: 50px;
  --padding-left: 50px;
  --padding-right: 50px;
}
.elementor-176
  .elementor-element.elementor-element-0aff527:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-176
  .elementor-element.elementor-element-0aff527
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f5f5f5;
}
.elementor-176 .elementor-element.elementor-element-0aff527,
.elementor-176 .elementor-element.elementor-element-0aff527::before {
  --border-transition: 0.3s;
}
.elementor-176
  .elementor-element.elementor-element-0cdbba0
  .dblh__title-wrapper {
  font-size: 24px;
  text-transform: uppercase;
}
.elementor-176 .elementor-element.elementor-element-0cdbba0 .dblh__title {
  display: inline;
}
.elementor-176
  .elementor-element.elementor-element-0cdbba0
  .dblh__subtitle::before,
.elementor-176
  .elementor-element.elementor-element-0cdbba0
  .dblh__subtitle::after {
  width: 12px;
}
.elementor-176
  .elementor-element.elementor-element-0cdbba0
  .wgl-double-heading
  .dblh__subtitle::before,
.elementor-176
  .elementor-element.elementor-element-0cdbba0
  .wgl-double-heading
  .dblh__subtitle::after {
  height: 8px;
}
.elementor-176 .elementor-element.elementor-element-2b37a85 {
  font-size: 14px;
  line-height: 26px;
}
.elementor-176
  .elementor-element.elementor-element-2b37a85
  > .elementor-widget-container {
  margin: 2px -23px 19px 0px;
}
.elementor-176 .elementor-element.elementor-element-deb823f .wpcf7-submit {
  margin: 14px 0px 0px 0px;
}
.elementor-176
  .elementor-element.elementor-element-deb823f
  .wgl-button.has-animated-bg
  .wpcf7-submit {
  margin: 0;
}
.elementor-176
  .elementor-element.elementor-element-deb823f
  .wgl-button-cf7
  .wpcf7-submit {
  margin: 0;
}
.elementor-176
  .elementor-element.elementor-element-deb823f
  .wgl-button.has-animated-bg {
  margin: 14px 0px 0px 0px;
}
.elementor-176 .elementor-element.elementor-element-deb823f .wgl-button-cf7 {
  margin: 14px 0px 0px 0px;
}
.elementor-176 .elementor-element.elementor-element-692ee1b {
  --display: flex;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-176 .elementor-element.elementor-element-abbd8cb {
  --spacer-size: 38px;
}
.elementor-176
  .elementor-element.elementor-element-bd3f0a7
  .dblh__title-wrapper {
  font-size: 36px;
  text-transform: uppercase;
  line-height: 1.44em;
}
.elementor-176 .elementor-element.elementor-element-bd3f0a7 .dblh__title {
  display: inline;
}
.elementor-176 .elementor-element.elementor-element-bd3f0a7 .dblh__subtitle {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.25em;
  margin: 0px 0px 11px 0px;
}
.elementor-176
  .elementor-element.elementor-element-bd3f0a7
  > .elementor-widget-container {
  margin: 0px 0px 26px 0px;
}
.elementor-176
  .elementor-element.elementor-element-dc0e631
  .dblh__title-wrapper {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1em;
}
.elementor-176 .elementor-element.elementor-element-dc0e631 .dblh__title {
  display: inline;
}
.elementor-176
  .elementor-element.elementor-element-dc0e631
  .dblh__subtitle::before,
.elementor-176
  .elementor-element.elementor-element-dc0e631
  .dblh__subtitle::after {
  width: 12px;
}
.elementor-176
  .elementor-element.elementor-element-dc0e631
  .wgl-double-heading
  .dblh__subtitle::before,
.elementor-176
  .elementor-element.elementor-element-dc0e631
  .wgl-double-heading
  .dblh__subtitle::after {
  height: 8px;
}
.elementor-176
  .elementor-element.elementor-element-dc0e631
  > .elementor-widget-container {
  margin: 0px 0px 14px 0px;
}
.elementor-176 .elementor-element.elementor-element-cbef08a {
  font-size: 18px;
  font-weight: 500;
  line-height: 36px;
}
.elementor-176
  .elementor-element.elementor-element-cbef08a
  > .elementor-widget-container {
  margin: 0px 0px 25px 0px;
}
.elementor-176
  .elementor-element.elementor-element-0aa6f3a
  .dblh__title-wrapper {
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1em;
}
.elementor-176 .elementor-element.elementor-element-0aa6f3a .dblh__title {
  display: inline;
}
.elementor-176
  .elementor-element.elementor-element-0aa6f3a
  .dblh__subtitle::before,
.elementor-176
  .elementor-element.elementor-element-0aa6f3a
  .dblh__subtitle::after {
  width: 12px;
}
.elementor-176
  .elementor-element.elementor-element-0aa6f3a
  .wgl-double-heading
  .dblh__subtitle::before,
.elementor-176
  .elementor-element.elementor-element-0aa6f3a
  .wgl-double-heading
  .dblh__subtitle::after {
  height: 8px;
}
.elementor-176
  .elementor-element.elementor-element-0aa6f3a
  > .elementor-widget-container {
  margin: 0px 0px 22px 0px;
}
.elementor-176 .elementor-element.elementor-element-5f9618a .wgl-button {
  justify-content: center;
  font-family: var(--genesisauto-content-font-family);
  font-size: 18px;
  font-weight: 500;
  --button-padding: 0px 0px 0px 0px;
  --button-border-radius: 60px 60px 60px 60px;
}
.elementor-176 .elementor-element.elementor-element-5f9618a .button__text {
  justify-content: center;
}
.elementor-176 .elementor-element.elementor-element-5f9618a .wgl-button,
.elementor-176
  .elementor-element.elementor-element-5f9618a.has-bg_animation
  .wgl-button::after {
  border-style: none;
}
.elementor-176
  .elementor-element.elementor-element-5f9618a
  .elementor-widget-container
  .wgl-button {
  color: #5a5a5a;
}
.elementor-176
  .elementor-element.elementor-element-5f9618a:not(.has-bg_animation)
  .wgl-button {
  background-color: #02010100;
}
.elementor-176
  .elementor-element.elementor-element-5f9618a.has-bg_animation
  .wgl-button::after {
  background-color: #02010100;
}
.elementor-176
  .elementor-element.elementor-element-5f9618a.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-176
  .elementor-element.elementor-element-5f9618a
  .elementor-widget-container
  .wgl-button:hover,
.elementor-176
  .elementor-element.elementor-element-5f9618a
  .elementor-widget-container
  .wgl-button:focus {
  color: #ffc300;
}
.elementor-176
  .elementor-element.elementor-element-5f9618a
  > .elementor-widget-container {
  margin: 0px 0px 18px 0px;
}
.elementor-176 .elementor-element.elementor-element-e700170 .wgl-button {
  justify-content: center;
  font-family: var(--genesisauto-content-font-family);
  font-size: 18px;
  font-weight: 500;
  --button-padding: 0px 0px 0px 0px;
  --button-border-radius: 60px 60px 60px 60px;
}
.elementor-176 .elementor-element.elementor-element-e700170 .button__text {
  justify-content: center;
}
.elementor-176 .elementor-element.elementor-element-e700170 .wgl-button,
.elementor-176
  .elementor-element.elementor-element-e700170.has-bg_animation
  .wgl-button::after {
  border-style: none;
}
.elementor-176
  .elementor-element.elementor-element-e700170
  .elementor-widget-container
  .wgl-button {
  color: #5a5a5a;
}
.elementor-176
  .elementor-element.elementor-element-e700170:not(.has-bg_animation)
  .wgl-button {
  background-color: #02010100;
}
.elementor-176
  .elementor-element.elementor-element-e700170.has-bg_animation
  .wgl-button::after {
  background-color: #02010100;
}
.elementor-176
  .elementor-element.elementor-element-e700170.has-bg_animation
  .wgl-button {
  background-color: transparent !important;
}
.elementor-176
  .elementor-element.elementor-element-e700170
  .elementor-widget-container
  .wgl-button:hover,
.elementor-176
  .elementor-element.elementor-element-e700170
  .elementor-widget-container
  .wgl-button:focus {
  color: #ffc300;
}
.elementor-176
  .elementor-element.elementor-element-e700170
  > .elementor-widget-container {
  margin: 0px 0px 37px 0px;
}
.elementor-176 .elementor-element.elementor-element-c9fe102 {
  text-align: left;
  --icon-size: 18px;
}
.elementor-176 .elementor-element.elementor-element-c9fe102 .elementor-icon i {
  color: #1c1c1c;
}
.elementor-176
  .elementor-element.elementor-element-c9fe102
  .elementor-icon
  svg {
  fill: #1c1c1c;
}
.elementor-176 .elementor-element.elementor-element-c9fe102 .elementor-icon {
  background-color: #ffc30000;
  border-radius: 50px 50px 50px 50px;
}
.elementor-176
  .elementor-element.elementor-element-c9fe102
  .elementor-icon:hover {
  opacity: 1;
  background-color: #ffc300;
}
.elementor-176
  .elementor-element.elementor-element-c9fe102
  .elementor-icon:hover
  i {
  color: #ffffff;
}
.elementor-176
  .elementor-element.elementor-element-c9fe102
  .elementor-icon:hover
  svg {
  fill: #ffffff;
}
.elementor-176
  .elementor-element.elementor-element-c9fe102
  .elementor-social-icon {
  --icon-padding: 9px;
}
.elementor-176
  .elementor-element.elementor-element-c9fe102
  .elementor-icon:not(:last-child) {
  margin-right: 6px;
}
.elementor-176
  .elementor-element.elementor-element-c9fe102
  > .elementor-widget-container {
  margin: 0px 0px 0px -11px;
}
.elementor-176 .elementor-element.elementor-element-6d71406 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-bottom: -40px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-176 .elementor-element.elementor-element-4faa56e {
  --spacer-size: 130px;
}
.elementor-176 .elementor-element.elementor-element-419c18c iframe {
  height: 580px;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
}
body.elementor-page-176 #main.site-main {
  z-index: 0;
}
@media (max-width: 1200px) {
  .elementor-176 .elementor-element.elementor-element-0576c73 {
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-176 .elementor-element.elementor-element-c985427 {
    --gap: 20px 20px;
  }
  .elementor-176 .elementor-element.elementor-element-0aff527 {
    --padding-top: 20px;
    --padding-bottom: 30px;
    --padding-left: 30px;
    --padding-right: 30px;
  }
  .elementor-176
    .elementor-element.elementor-element-bd3f0a7
    .dblh__title-wrapper {
    font-size: 30px;
  }
  .elementor-176 .elementor-element.elementor-element-bd3f0a7 .dblh__subtitle {
    margin: 0px 0px 9px 0px;
  }
  .elementor-176 .elementor-element.elementor-element-4faa56e {
    --spacer-size: 70px;
  }
  .elementor-176 .elementor-element.elementor-element-419c18c iframe {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .elementor-176 .elementor-element.elementor-element-c985427 {
    --flex-direction: column-reverse;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --gap: 50px 50px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-176
    .elementor-element.elementor-element-0cdbba0
    .dblh__title-wrapper {
    font-size: 24px;
  }
  .elementor-176 .elementor-element.elementor-element-692ee1b {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-176 .elementor-element.elementor-element-abbd8cb {
    --spacer-size: 0px;
  }
  .elementor-176 .elementor-element.elementor-element-bd3f0a7 .dblh__subtitle {
    margin: 0px 0px 7px 0px;
  }
  .elementor-176 .elementor-element.elementor-element-419c18c iframe {
    height: 300px;
  }
}
@media (min-width: 768px) {
  .elementor-176 .elementor-element.elementor-element-0aff527 {
    --width: 48%;
  }
  .elementor-176 .elementor-element.elementor-element-692ee1b {
    --width: 53%;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .elementor-176 .elementor-element.elementor-element-0aff527 {
    --width: 50%;
  }
  .elementor-176 .elementor-element.elementor-element-692ee1b {
    --width: 50%;
  }
}
