.elementor-2057 .elementor-element.elementor-element-0c897ca {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-2057
  .elementor-element.elementor-element-0c897ca:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2057
  .elementor-element.elementor-element-0c897ca
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #1c1c1c;
}
.elementor-2057 .elementor-element.elementor-element-0c897ca,
.elementor-2057 .elementor-element.elementor-element-0c897ca::before {
  --border-transition: 0.3s;
}
.elementor-2057 .elementor-element.elementor-element-dded41e {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-2057 .elementor-element.elementor-element-f1de7a4 {
  --spacer-size: 45px;
}
.elementor-2057
  .elementor-element.elementor-element-baa2112
  .elementor-heading-title {
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 1.25em;
}
.elementor-2057 .elementor-element.elementor-element-28ee20c {
  --spacer-size: 18px;
}
.elementor-2057 .elementor-element.elementor-element-71b59fc .primary-nav > ul {
  display: flex;
  flex-direction: column;
  border-style: none;
}
.elementor-2057
  .elementor-element.elementor-element-71b59fc
  .primary-nav
  > ul
  > li {
  width: 100%;
}
.elementor-2057
  .elementor-element.elementor-element-71b59fc
  .primary-nav
  > ul
  > li
  > a {
  justify-content: flex-start;
  margin: 6px 0px 6px 0px;
  color: #ffffff;
}
.elementor-2057
  .elementor-element.elementor-element-71b59fc
  .primary-nav
  > ul
  > li:hover
  > a {
  color: #ffc300;
}
.elementor-2057
  .elementor-element.elementor-element-71b59fc
  .primary-nav
  > ul
  > li[class*="current"]
  > a,
.elementor-2057
  .elementor-element.elementor-element-71b59fc
  .primary-nav
  > ul
  > li
  > a.active {
  color: var(--e-global-color-primary);
}
.elementor-2057
  .elementor-element.elementor-element-71b59fc
  .primary-nav
  > ul
  > li
  > a
  .content__media
  i {
  font-size: 14px;
}
.elementor-2057
  .elementor-element.elementor-element-71b59fc
  .primary-nav
  > ul
  > li
  > a
  .content__media
  svg {
  width: 14px;
}
.elementor-2057
  .elementor-element.elementor-element-71b59fc
  .primary-nav
  ul
  li
  ul
  li
  > a
  .content__media
  i {
  font-size: 14px;
}
.elementor-2057
  .elementor-element.elementor-element-71b59fc
  .primary-nav
  ul
  li
  ul
  li:hover
  > a
  .content__media
  svg {
  width: 14px;
}
.elementor-2057 .elementor-element.elementor-element-ceef052 {
  --spacer-size: 37px;
}
.elementor-2057 .elementor-element.elementor-element-510a89d {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --gap: 0px 0px;
  --background-transition: 0.3s;
}
.elementor-2057 .elementor-element.elementor-element-3fb5cd4 {
  --spacer-size: 50px;
}
.elementor-2057 .elementor-element.elementor-element-a989bb8 .wgl-products {
  --products-gap: 30px;
}
.elementor-2057
  .elementor-element.elementor-element-a989bb8
  .star-rating
  span::before {
  color: #ffffff;
}
.elementor-2057
  .elementor-element.elementor-element-a989bb8
  .star-rating::before {
  color: #ffffff66;
}
.elementor-2057
  .elementor-element.elementor-element-a989bb8
  .woocommerce-loop-product__title
  a {
  color: #ffffff;
}
.elementor-2057
  .elementor-element.elementor-element-a989bb8
  .wgl-products
  .product {
  --genesisauto-price-del-color: #ffffff99;
}
.elementor-2057 .elementor-element.elementor-element-8e58323 {
  --spacer-size: 31px;
}
@media (min-width: 768px) {
  .elementor-2057 .elementor-element.elementor-element-dded41e {
    --width: 25%;
  }
  .elementor-2057 .elementor-element.elementor-element-510a89d {
    --width: 75%;
  }
}
@media (max-width: 1200px) {
  .elementor-2057 .elementor-element.elementor-element-a989bb8 .wgl-products {
    --products-gap: 30px;
  }
}
@media (max-width: 767px) {
  .elementor-2057 .elementor-element.elementor-element-a989bb8 .wgl-products {
    --products-gap: 20px;
  }
}
